@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v20/XRXI3I6Li01BKofiOc5wtlZ2di8HDOUhRTM.ttf) format('truetype');
}
@font-face {
  font-family: 'Robot World';
  font-style: normal;
  font-weight: 400;
  src: local('Robot World'), url('https://fonts.cdnfonts.com/s/30249/Robot World.woff') format('woff');
}
@font-face {
  font-family: 'Robot World';
  font-style: italic;
  font-weight: 400;
  src: local('Robot World'), url('https://fonts.cdnfonts.com/s/30249/Robot World Italic.woff') format('woff');
}
body {
  background-color: #0c0c0c;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #2e2d2d;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(18, 124, 18, 0.561);
  border-radius: 5px;
}
.nav {
  width: 100%;
  margin-bottom: 25px;
  height: 150px;
  background-color: #161515;
  border-bottom: 1px solid rgba(18, 124, 18, 0.938);
  -webkit-box-shadow: -2px 2.5px 4px 6px rgba(55, 197, 124, 0.13);
          box-shadow: -2px 2.5px 4px 6px rgba(55, 197, 124, 0.13);
  position: sticky;
  top: 0;
}
.nav .cont-nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav .cont-nav .resumenCarrito {
  width: 400px;
  height: 380px;
  background-color: #262727;
  position: absolute;
  right: 20px;
  color: black;
  border: 1px solid rgba(18, 124, 18, 0.561);
  border-radius: 10px;
  -webkit-animation: Carrito 1s ease 0.1s 1 row fill-mode;
          animation: Carrito 1s ease 0.1s 1 row fill-mode;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .cont-nav .resumenCarrito .flecha {
  border-right: 8px solid rgba(18, 124, 18, 0.561);
  width: 0px;
  height: 0px;
  border-left: 8px solid rgba(18, 124, 18, 0.561);
  border-bottom: 8px solid rgba(18, 124, 18, 0.561);
  background-color: #262727;
  position: absolute;
  top: -8px;
  right: 55px;
}
.nav .cont-nav .resumenCarrito ul {
  width: 100%;
  height: 90%;
  padding: 8px;
  overflow: scroll;
  overflow-x: hidden;
}
.nav .cont-nav .resumenCarrito ul::-webkit-scrollbar {
  width: 10px;
  background-color: #2e2d2d;
  border-radius: 6px;
  margin-right: 10px;
}
.nav .cont-nav .resumenCarrito ul::-webkit-scrollbar-track {
  margin: 5px ;
}
.nav .cont-nav .resumenCarrito ul::-webkit-scrollbar-thumb {
  background-color: rgba(18, 124, 18, 0.561);
  border-radius: 5px;
}
.nav .cont-nav .resumenCarrito ul li {
  padding-bottom: 4px;
  height: 110px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 8px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(18, 124, 18, 0.561);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.nav .cont-nav .resumenCarrito ul li .fProductoCarrito {
  width: 130px;
  height: 100%;
}
.nav .cont-nav .resumenCarrito ul li .nProductoCarrito {
  color: rgba(18, 124, 18, 0.561);
  width: 40%;
  font-size: 23px;
  text-align: center;
  font-weight: 500;
}
.nav .cont-nav .resumenCarrito ul li .cProductoCarrito {
  width: 28px;
  height: 28px;
  background-color: #995454;
  font-size: 14px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.856);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav .cont-nav .nombre-app {
  font-size: 45px;
  font-weight: 400;
  font-family: 'Robot World', sans-serif;
  margin-left: 30px;
  color: rgba(18, 124, 18, 0.671);
  cursor: pointer;
  text-shadow: -2.5px 2.5px rgba(55, 197, 124, 0.2);
  word-spacing: 6px;
}
.nav .cont-nav .burbujaNotificasion {
  width: 24px;
  height: 24px;
  background-color: #995454;
  font-size: 13px;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.856);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 54px;
  top: 27px;
  cursor: pointer;
}
.nav .cont-nav .carrito {
  width: 75px;
  height: 75px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 50px;
  background-color: rgba(95, 158, 160, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav .cont-nav .carrito:active {
  width: 68px;
  height: 68px;
}
.nav .cont-nav .carrito .i {
  font-size: 50px;
  cursor: pointer;
  color: rgba(18, 124, 18, 0.938);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav .cont-nav .carrito .i:hover {
  color: rgba(18, 124, 18, 0.52);
}
.section-producto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.section-producto .container {
  width: 1100px;
}
.section-producto .container .layout {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgba(27, 167, 27, 0.801);
}
.section-producto .container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap ;
          flex-flow: row wrap ;
  width: 100%;
}
.section-producto .container .flex-container .tarjet-producto {
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 470px;
  background-color: rgba(0, 0, 0, 0.808);
  border: 1px solid rgba(18, 124, 18, 0.938);
  margin: 20px;
}
.section-producto .container .flex-container .tarjet-producto .img-producto {
  width: 94%;
  height: 50%;
  padding: 8px;
  border-bottom: 1px solid rgba(18, 124, 18, 0.938);
}
.section-producto .container .flex-container .tarjet-producto .name-producto {
  color: #1ba71b;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section-producto .container .flex-container .tarjet-producto .price-producto::before {
  display: inline;
  content: "$";
}
.section-producto .container .flex-container .tarjet-producto .price-producto {
  color: rgba(27, 167, 27, 0.87);
  font-size: 23px;
  font-weight: 400;
}
.section-producto .container .flex-container .tarjet-producto .button-producto {
  width: 110px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid rgba(18, 124, 18, 0.938);
  color: rgba(27, 167, 27, 0.87);
  padding: 6px;
  font-size: 22px;
  margin-top: 19px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.section-producto .container .flex-container .tarjet-producto .button-producto:hover {
  color: black;
  background-color: rgba(27, 167, 27, 0.87);
}
@-webkit-keyframes Carrito {
  1% {
    height: 1%;
  }
  100% {
    height: 100%;
  }
}
@keyframes Carrito {
  1% {
    height: 1%;
  }
  100% {
    height: 100%;
  }
}
